<!DOCTYPE html>
<html>
<head>
   <title>simple text fields</title>
</head>

<form method="GET" action="getInfo" style= "">
   <h1>My Milton Info</h1>

         User: <input type="text" name="user"style = "position: relative; left: 5px;">
         <br>
         Pass: <input type="text" name="pass"style = "position: relative; left: 5px;">
         <br>

   <h2>Phone Number</h2>

      Phone: <input type="text" name="phone"style = "position: relative; left: 5px;">
         <br>

      
   <h3>Pick What Week it is</h3>

      Week: <input type="text" name="week"style = "position: relative; left: 5px;">
         <br>

    <h4>Schedule</h4>

        <input type="file" id="myFile" name="schedule">

        <br>
        <br>

<input type="submit" name="Get Info "style = "">
</form>


     


</body>
</html>